/* font import */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
.work-sans {
  font-family: "Work Sans", sans-serif;
}
* {
  margin: 0px;
  box-sizing: border-box !important;
}
/* COLOR BOX */
.green-lt-bg {
  background-color: #00cec9 !important;
}
.green-lt {
  color: #00cec9 !important;
}
.nav-link.active {
  background-color: #00cec9 !important;
}
body {
  position: relative;
  /* height: 100vh;
  width: 100%; */
  background-image: url("./images/chat-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  /* overflow: hidden; */
  overflow-y: scroll;
}
.home-box {
  /* height: 80vh; */
}

.home-box > div {
  background-color: rgba(58, 58, 58, 0.345);
}
.singup-input {
  outline: none;
  padding: 3px 2px;
  border: solid 2px #00cec9;
  border-radius: 10px;
  width: 100%;
}
footer {
  margin-top: auto;
  background-color: rgba(58, 58, 58, 0.454);
}
